*.log
*.db
.env
.idea
*.pyc
*.ndjson
input
*.tgz
tmp/*.txt
tmp/*.json
tmp/*.ndjson
export/*.txt
export/tmp/*.txt
export/domain-links-by-media/*.txt
export/links-by-media/csv/*.csv
export/links-by-media/*.csv
export/domain-links-by-media/*.csv
export/stories-by-media/*.csv
