python-dotenv
spacy
readability-lxml
beautifulsoup4
tldextract
dateparser
pandas
networkx
prefect
dask[complete]
validators
mediacloud # install with pip
ndjson # install with pip
elasticsearch-loader # install with pip
